@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: relative;
}
@layer utilities {
  .active {
    border-bottom: 2px solid;
    @apply border-b-blue;
  }
  .focus-ring {
    outline-width: 2px !important;
    outline-style: solid !important;
    outline-color: theme("colors.blue-light") !important;
  }
}

body {
  font-family: "Noto Sans JP", sans-serif;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

*:focus {
  outline: 3px solid pink;
}
