/* Fix darkmode button visibility in story */
#anchor--dark-mode--default .css-1wjen9k {
  min-height: 140px;
}

/* Hide shortcuts icon */
button[title*="Shortcuts"] {
  display: none !important;
}

/* Fix Select preview height */
[id*="anchor--form-select"] .css-kdwx3d .css-1wjen9k {
  height: 300px;
}
