@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply dark:bg-blue-darker
  }
  .active {
    border-bottom: 2px solid;
    @apply border-b-blue;
  }
}

a {
  text-decoration: none;
}

ul, ol, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}